<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix</title>
    <link rel="icon" href="../Assets/img/logo-1.png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .nav-link {
            color: white !important;
            font-size: 20px;
        }

        header {
            background-color: black;
        }

        form .form-control {
            border-radius: 20px;
            padding: 0.75rem 1.25rem;
            margin-right: 10px;
        }

        #del {
            background-color: red;
            color: white;
            text-decoration: none;
        }

        #edit {
            background-color: cornflowerblue;
            color: white;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <header class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/"><img src="../Assets/img/logo.svg" class="logo" width="150px"></a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/view">View</a></li>
                    <li class="nav-item"><a class="nav-link" href="/add">Add</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container text-center mt-4">
        <h1>Your Favourite Movie's...!</h1>
        <table class="table table-secondary col-md-12 table-bordered">
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Genre</th>
                <th>Description</th>
                <th>Date</th>
                <th>Rating</th>
                <th>Duration</th>
                <th>Action</th>
            </tr>

            <% data.map((val)=>{ %>

                <tr>
                    <td>
                        <img src="<%= val.image %>" alt="image" width="100px">
                    </td>
                    <td>
                        <%= val.name %>
                    </td>
                    <td>
                        <%= val.genre %>
                    </td>
                    <td>
                        <%= val.desc %>
                    </td>
                    <td>
                        <%= val.date %>
                    </td>
                    <td>
                        <%= val.rating %>
                    </td>
                    <td>
                        <%= val.time %>
                    </td>
                    <td>
                        <a href="/deleteData/<%= val._id %>" id="del">Delete</a>
                        <a href="/editData/<%= val._id %>" id="edit">Edit</a>
                    </td>
                </tr>

                <% })%>
        </table>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>